
Port 22
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

PermitRootLogin yes
PasswordAuthentication yes
PubkeyAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

#AuthorizedKeysFile     .ssh/authorized_keys .ssh/authorized_keys2

PrintMotd no
X11Forwarding yes
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/lib/openssh/sftp-server

Include /home/ubuntu/ToolKits/Test/honeypot.conf
